@{
    ViewData["Title"] = "Tienda";
}

<h2>Menú Principal</h2>
<ul>
    <li><a href="/Productos">Listado de Productos</a></li>
    <li><a href="/Productos/Crear">Gestión de Productos</a></li>
</ul>

<h2>Listado de Productos</h2>
<a href="/Productos/Crear">Crear nuevo producto</a>
<table>
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Stock</th>
    </tr>

    @foreach (var p in Model)

    {
        <tr>
            <td>@p.Nombre</td>
            <td>@p.Descripcion</td>
            <td>@p.Precio €</td>
            <td>@p.Stock €</td>
            <td>
                <a href="/Productos/Editar/@p.Id">Editar</a> |
                <a href="/Productos/Borrar/@p.Id">Eliminar</a>
            </td>
        </tr>

    }
</table>